<!--NAVBAR-->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Star Wars Media</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/shop/categories']">Marketplace</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/films']">Films</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/chat']">Chat</a>
      </li>
      <li
        *ngIf="!this.authService.loggedIn()"
        class="nav-item"
        routerLinkActive="active"
        style="cursor: pointer;"
      >
        <a class="nav-link" (click)="registerToggle(); openModalWithComponent()">Registration</a>
      </li>
    </ul>

    <div *ngIf="this.authService.loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome,
        {{
          authService.decodedToken?.given_name ||
            authService.decodedToken?.unique_name | titlecase
        }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a class="dropdown-item" [routerLink]="['/profile']" routerLinkActive="router-link-active" ><i class="fa fa-user"></i>Edit Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i>Logout</a
        >
      </div>
    </div>

    <form
      *ngIf="!this.authService.loggedIn()"
      #loginForm="ngForm"
      class="form-inline my-2 my-lg-0 mw-100"
      (ngSubmit)="login()"
    >
      <input
        class="form-control mr-sm-2"
        type="text"
        name="username"
        placeholder="Username"
        required
        [(ngModel)]="model.username"
      />
      <input
        class="form-control mr-sm-2"
        type="password"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="model.password"
      />
      <button
        [disabled]="!loginForm.valid"
        class="btn btn-success my-2 my-sm-0"
        type="submit"
      >
        Login
      </button>
      <button
        class="btn btn-outline-dark my-2 my-sm-0 ml-sm-2"
        (click)="signinWithGoogle()"
        type="button"
      >
        <i class="fa fa-google" style="font-size: 2em;"></i>
      </button>
    </form>
  </div>
</nav>
<!--REGISTRATION FORM-->
<div *ngIf="registerMode" style="margin: auto; margin-top: 3em;">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register
        (cancelRegistration)="cancelRegistrationMode($event)"
      ></app-register>
    </div>
  </div>
</div>
<!--CONTENT-->
<div class="row" style="margin: 0; display: flex; justify-content: space-between; max-width: 100%;">
  <div class="col-4 column border border-dark" [ngStyle]="{'background-image': 'url(https://res.cloudinary.com/nevereverlie/image/upload/c_fill,e_improve,g_face:center,h_800,q_100:444,w_500/v1591052887/SWMedia_Main/1_tqomox.jpg)'}">
    <div class="column-content">
      <h3 class="title mb-5">
        MARKETPLACE
      </h3>
      <h4 class="description">
        Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
        ipsum
      </h4>
    </div>
    <button class="btn btn-lg btn-dark ref" [routerLink]="['/shop/categories']" routerLinkActive="router-link-active" >Marketplace</button>
  </div>
  <div class="col-4 column border border-dark" [ngStyle]="{'background-image': 'url(https://res.cloudinary.com/nevereverlie/image/upload/v1591039826/SWMedia_Main/2_hahemk.png)'}">
    <div class="column-content">
      <h3 class="title mb-5">
        MARKETPLACE
      </h3>
      <h4 class="description">
        Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
        ipsum
      </h4>
    </div>
    <button class="btn btn-lg btn-dark ref" [routerLink]="['/films']" routerLinkActive="router-link-active" >Films</button>
  </div>
  <div class="col-4 column border border-dark" [ngStyle]="{'background-image': 'url(https://res.cloudinary.com/nevereverlie/image/upload/v1591039826/SWMedia_Main/3_znw6ng.png)'}">
    <div class="column-content">
      <h3 class="title mb-5">
        MARKETPLACE
      </h3>
      <h4 class="description">
        Lorem ipsum Lorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem ipsumLorem
        ipsum
      </h4>
    </div>
    <button class="btn btn-lg btn-dark ref" [routerLink]="['/chat']" routerLinkActive="router-link-active" >Chat</button>
  </div>
</div>
<!--FOOTER-->
<footer>
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: honeydew;  background-color: #1a1a1a;">© 2020 Copyright:
      <a href="https://swmedia.azurewebsites.net"> SWMedia.net</a>
    </div>

  </footer>
</footer>
