#categoryCard-active-class {
  height: 300px;
  color: white;
  background-color: rgb(60, 60, 60);
  border: 1px solid rgb(170, 170, 170);
  border-radius: 1rem;
  background-size: cover;
  cursor: pointer;
  padding-top: 300px;
  font-size: x-large;
  text-align: center;
}
#categoryCard:hover {
  transform: scale(1.1, 1.1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
.transition {
  transition: 1s;
}

.categoryName {
  position: relative;
  padding-top: 5rem;
}
