* {
  font-family: 'Raleway', 'sans-serif';
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.nav-link {
  font-family: 'Raleway', sans-serif;
}

.container {
  display: contents;
}

.col, .column{
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
  max-width: 500px;
  text-align: center;
  border-width: 5px !important;
  font-family: 'Raleway', sans-serif;
}

.column-content {
  margin-top: 200px;
}
.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.ref {
  margin-top: 125px;
  font-size: large;
  max-width: 180px;
  width: 180px;
  text-align: center;
  word-wrap: none;
  border-radius: 10px;
}

.profileForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  max-width: 500px;
}

footer {
  font-family: 'Raleway', sans-serif;
}

.user__input {
  width: 500px;
  display: block;
}
.user__label {
  display: block;
}

.form-group {
  max-width: 100%;
  width: 100%;
}

