<!--NAVBAR-->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Star Wars Media</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/shop/categories']">Marketplace</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/films']">Films</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/chat']">Chat</a>
      </li>
    </ul>

    <div *ngIf="this.authService.loggedIn()" class="dropdown" dropdown>
      <a class="dropdown-toggle text-light" dropdownToggle>
        Welcome,
        {{
          authService.decodedToken?.given_name ||
            authService.decodedToken?.unique_name | titlecase
        }}
      </a>

      <div class="dropdown-menu mt-3" *dropdownMenu>
        <a
          class="dropdown-item"
          [routerLink]="['/profile']"
          routerLinkActive="router-link-active"
          ><i class="fa fa-user"></i>Edit Profile</a
        >
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()"
          ><i class="fa fa-sign-out"></i>Logout</a
        >
      </div>
    </div>
  </div>
</nav>
<!-- Profile form -->
<form
  #profileForm="ngForm"
  (ngSubmit)="updateProfile(user)"
  class="needs-validation profileForm mt-5"
  novalidate
>
  <h2 class="mt-3 title">Profile</h2>

  <div class="form-group">
    <label for="username">Username: </label>
    <label id="username" class="user__label" *ngIf="!editMode">{{
      user?.username
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="username"
      name="username"
      [(ngModel)]="user.username"
      *ngIf="editMode"
      value="{{ user?.username }}"
    />
  </div>

  <div class="form-group">
    <label for="phone">Mobile phone: </label>
    <label id="phone" class="user__label" *ngIf="!editMode">{{
      user?.phone
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="phone"
      *ngIf="editMode"
      name="phone"
      [(ngModel)]="user.phone"
      value="{{ user?.phone }}"
    />
  </div>

  <div class="form-group">
    <label for="email">E-mail: </label>
    <label id="email" class="user__label" *ngIf="!editMode">{{
      user?.email
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="email"
      *ngIf="editMode"
      name="email"
      [(ngModel)]="user.email"
      value="{{ user?.email }}"
    />
  </div>

  <div class="form-group">
    <label for="desc">Self description: </label>
    <label id="desc" class="user__label" *ngIf="!editMode">{{
      user?.selfDescription
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="desc"
      *ngIf="editMode"
      name="desc"
      [(ngModel)]="user.selfDescription"
      value="{{ user?.selfDescription }}"
    />
  </div>

  <div class="form-group">
    <label for="country">Country: </label>
    <label id="country" class="user__label" *ngIf="!editMode">{{
      user?.country
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="country"
      *ngIf="editMode"
      name="country"
      [(ngModel)]="user.country"
      value="{{ user?.country }}"
    />
  </div>

  <div class="form-group">
    <label for="city">City: </label>
    <label id="city" class="user__label" *ngIf="!editMode">{{
      user?.city
    }}</label>
    <input
      type="text"
      class="form-control user__input"
      id="city"
      *ngIf="editMode"
      name="city"
      [(ngModel)]="user.city"
      value="{{ user?.city }}"
    />
  </div>

  <div class="form-group text-center">
    <button
      *ngIf="!editMode"
      class="btn btn-info"
      type="button"
      (click)="changeEditMode(true)"
    >
      Edit profile
    </button>
    <button
      *ngIf="editMode"
      class="btn btn-success"
      type="submit"
      (click)="updateProfile(user); changeEditMode(false)"
    >
      Save changes
    </button>
    <button
      *ngIf="editMode"
      class="btn btn-secondary"
      type="button"
      (click)="changeEditMode(false)"
    >
      Cancel
    </button>
  </div>
</form>

<!-- Footer -->
<app-shop-footer></app-shop-footer>
