img {
  width: 100px;
}

.container, .main {
  margin-bottom: 400px;
}

.col, td {
  text-align: center;
}
.col-image {
  width: 100px;
}
.col-title {
  width: 200px;
}
.col-price {
  width: 100px;
}
.col-amount {
  width: 100px;
}

.horizontal-wrapper{
  margin: auto;
}

.close {
  position: absolute;
}

.checkout {
  float: right;
  font-size: large;
  font-weight: 600;
}


footer {
  margin-top: 500px !important;
}
