<div class="content" [ngStyle]="{'backgroundColor': darkMode ? '#404040' : '#fff' }">
  <div class="container">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand" [routerLink]="['']" routerLinkActive="router-link-active">Star Wars Media</a>
      <form class="form-inline">
        <p-accordion>
          <p-accordionTab header="Options" style="text-align: center;">
            <p class="mb-2">Light Mode</p>
            <p-inputSwitch (onChange)="!darkMode" [(ngModel)]="darkMode" name="darkMode"></p-inputSwitch>
          </p-accordionTab>
        </p-accordion>
      </form>
    </nav>
    <div #scrollMe class="outbox-right" *ngIf="isCurrentUser">
      <div class="message" *ngFor="let message of messages">
        <label id="messageBox" for="message">{{ message }}</label>
      </div>
    </div>
    <div #scrollMe class="outbox-left" *ngIf="!isCurrentUser">
      <div class="message" *ngFor="let message of messages">
        <label id="messageBox" for="message">{{ message }}</label>
      </div>
    </div>
    <div class="align-bottom">
      <form id="inputForm" #chatForm="ngForm" (ngSubmit)="sendMessage(); chatForm.reset()">
        <div class="input-group mb-3">
          <input
            type="text"
            id="message"
            name="message"
            [(ngModel)]="message"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-lg"
            autocomplete="off"
            required
          />
          <button
            class="btn btn-dark"
            type="submit"
            id="sendmessage"
            [disabled]="!chatForm.valid"
          >
            <i class="pi pi-reply"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
