<div class="content">
  <div class="container">
    <nav class="navbar navbar-dark bg-dark justify-content-between">
      <a class="navbar-brand">Star Wars Media</a>
      <form class="form-inline">
        <button class="btn btn-outline-warning my-2 my-sm-0">Options</button>
      </form>
    </nav>
    <div class="outbox">
      <div class="message"  *ngFor="let message of messages">
        <label id="messageBox" for="message">{{ message }}</label>
      </div>
    </div>
    <div class="align-bottom">
      <form id="inputForm" #chatForm="ngForm" (ngSubmit)="sendMessage(); chatForm.reset()">
        <div class="input-group mb-3">
          <input
            type="text"
            id="message"
            name="message"
            [(ngModel)]="message"
            class="form-control"
            aria-label="Default"
            aria-describedby="inputGroup-sizing-lg"
            required
          />
          <button
            class="btn btn-dark"
            type="submit"
            id="sendmessage"
            [disabled]="!chatForm.valid"
          >
            <i class="pi pi-reply"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
