<!-- Image and text -->



<div class="container w-100 d-inline-block mw-100">
  <nav class="navbar navbar-dark bg-dark w-100 p-0">
    <a class="navbar-brand" href="#">
      <img src="https://res.cloudinary.com/nevereverlie/image/upload/v1590328045/SWMedia_Shop/SVGs/sw_j2jn36.svg" width="150px" height="150px" class="d-inline-block align-center" alt="">
      Star Wars Media
    </a>
    <a>Contacts</a>
    <a>Delivery</a>
    <a>Peyment</a>
    <a>Guarantees</a>
    <input type="search">
    <img class="mr-5" src="https://res.cloudinary.com/nevereverlie/image/upload/v1590328045/SWMedia_Shop/SVGs/cart_g_pzqk5l.svg" style="height:80px; margin-top: 10px; display: inline-block;">
  </nav>
</div>
